<div class="nav">
  <img src="<%= image_path('Ready-logo.png') %>">
  <div class="login">
    <form action="/session" method="POST">
      <%= auth_token %>
      <label for="userinfo">Username/Email:
        <input type="text" name="[user]info" id="userinfo"></input>
      </label>
      <label for="password">Password:
        <input type="password" name="[user]password" id="password"></input>
      </label>
      <input type="submit" value="Log in!"></input>
    </form>
  </div>
</div>

<section class="welcome">
  <strong>Welcome to Ready!</strong>
  <p>Get ready to find your next favorite book!</p>
</section>

<div class="new_user">
  <p>New user signup:</p>
  <form action="/users" method="POST">
    <%= auth_token %>
    <label for="name">Name:
      <input type="text"
             id="name"
             name="[user]name"
             value="<%=@user.name%>">
      </input>
    </label>
    <br>
    <label for="email">Email:
      <input type="text"
             id="email"
             name="[user]email"
             value="<%=@user.email%>">
      </input>
    </label>
    <br>
    <label for="password">Password:
      <input type="password" name="user[password]" id="password"></input>
    </label>
    <br>
    <input type="submit" value="Sign up!"></input>
  </form>
</div>
